<launch>
    <!--  Run the nodelet manager -->
    <include file ="$(find rosnodelets)/conf/manager/Manager.launch">
        <arg name="manager_name" default="RosPerfManager"/>
    </include>
    <!--  Receiver  -->
    <include file ="$(find rosperf)/conf/nodelets/Receiver.internal">
        <arg name="manager_name" default="RosPerfManager"/>
    </include>
    <!--  Sender  -->
    <include file ="$(find rosperf)/conf/nodelets/Sender.internal">
        <arg name="manager_name" default="RosPerfManager"/>
    </include>
</launch>